<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
     <script src="register.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <span id="success"></span>
    <span id="error"></span>
    <div>
      <input type="text" name="fullname" placeholder="Full Name">
      <input type="email" name="email" placeholder="bob@example.in">
      <input type="text" name="username" placeholder="Display Name"/>
      <button type="submit" id="btnBegin">Register</button>
    </div>
  </body>
</html>
